$primaryLightColor: #F2CE8D !default;
$primaryColor:#E5B56E !default;
$primaryDarkColor: #D49341 !default;
$primaryDarkerColor: #B6742F !default;
$primaryTextColor: #363E47 !default;

@import '../sass/theme/_theme_dark';