$primaryLightColor: #79E1E2 !default;
$primaryColor:#4FC4CF !default;
$primaryDarkColor: #399DB2 !default;
$primaryDarkerColor: #277995 !default;
$primaryTextColor: #363E47 !default;

@import '../sass/theme/_theme_dim';