$primaryLightColor: #A0C7E5 !default;
$primaryColor:#7FA7CC !default;
$primaryDarkColor: #557DAA !default;
$primaryDarkerColor: #3E6192 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_dim';