$primaryLightColor: #C96F79 !default;
$primaryColor: #A54357 !default;
$primaryDarkColor: #8D304C !default;
$primaryDarkerColor: #762143 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_light';