$primaryLightColor: #4FC4CF !default;
$primaryColor:#399DB2 !default;
$primaryDarkColor: #277995 !default;
$primaryDarkerColor: #195878 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_light';