$primaryLightColor: #5EC579 !default;
$primaryColor: #30A059 !default;
$primaryDarkColor: #238952 !default;
$primaryDarkerColor: #18734B !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_light';