$primaryLightColor: #7FA7CC !default;
$primaryColor:#557DAA !default;
$primaryDarkColor: #3E6192 !default;
$primaryDarkerColor: #2A487A !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_light';