$primaryLightColor: #91CC72 !default;
$primaryColor: #62AB47 !default;
$primaryDarkColor: #479333 !default;
$primaryDarkerColor: #2F7B23 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_light';