$primaryLightColor: #817BCB !default;
$primaryColor: #5751A9 !default;
$primaryDarkColor: #403B91 !default;
$primaryDarkerColor: #2D2879 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_light';